.git/
node_modules/
.idea/
package-lock.json
data/viewer_pdf_template/viewer_report.html
data/viewer_pdf_template/viewer_template.html
data/viewer_csv/viewer_report.csv
data/model/model.log
data/model_inputs.csv
data/__pycache__/